body {
  background-color: #000000;
  color: #00eeff;
}

.titlebar {
  background-color: #2a2a2a;
  color: #ff00ff;
  text-align: center;
  font-family: Impact;
  font-size: large;
}

.footer {
  background-color: #2a2a2a;
  color: #008500;
  text-align: center;
  font-family: Verdana;
  font-style: italic;
  font-size: 12px
}

.signature {
  color: #bf00ff;
  text-align: left;
  font-style: italic;
}

.italics {
  font-style: italic;
  color: #00ffff;
}
